body{
    background-color: #D2B48C;
  }
  
  .form-container {
    max-width: 500px;
    margin: 0 auto;
  }
  
  footer {
    position: static;
    background-color: #F4A460;
  }
  
  #outputCard {
    display: none;
    max-width: 600px;
    margin: 0 auto;
    background-color: #ffffff;

    
  }
  
