body {
    background: url(https://i3.wp.com/wallpapers.com/images/hd/library-filled-with-books-vyy56lqa9wji657j.jpg);
}

  .form-container {
    max-width: 500px;
    margin: 0 auto;
  }
  
  footer {
    position: static;
  }
  
  #outputCard {
    display: none;
    max-width: 600px;
    margin: 0 auto;
    background-color: #ffffff;

    
  }
  
